[submodule "themes/fisher"]
	path = themes/fisher
	url = git@github.com:themefisher/Academia-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/matthewpurri/matthewpurri.github.io.git
